/**
 * 公共样式
 */
/** 小屏不显示文字 */
@media (max-width: 767px) {
    .wrap .container{
        padding-left: 5px;
        padding-right: 5px;
    }
    .basedata-navbar a{
        font-size: 12px;
    }
}
/** 大屏显示文字 */
@media (min-width: 768px) {
    .basedata-navbar a{
        font-size: 14px;
    }
}


/** 
 *  navbar
 */
.basedata-navbar{
    margin: 10px 0px 10px 0px;
}

.basedata-breadcrumbs a{
    color: #337ab7 !important
}


/**
 * 详细页样式 
 */
.viewdetail-th
{
    color: #666666;
    width: 150px;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
}
.viewdetail-th-head
{
    color: #000000;
    width: 150px;
    text-align: left;
    font-weight: bold;
}
.viewdetail td
{
    width: 150px;
    min-width: 100px;
}