/* 
    模块的样式
    例如：.default-index .样式名 {
            样式...
        }
*/


/********* default-_search样式 ***********/
.default-search .search {
    margin-top: 5px;
    margin-bottom: -1px;
    border-radius: 5px;
    padding: 0px;
}

.default-search .search-input{
    width: 100%;
    height: 40px;
    padding-right: 52px;
    float: left;
    border: 1px #ccc solid;
    border-radius: 4px;
}

.default-search .search-text-input {
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
}

.default-search .search-text-input:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.default-search .search-btn-bg {
    position: absolute;
    width: 52px;
    height: 40px;
    padding:0px;
    float: right;
    right: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #00cc99;
}

.default-search .search-btn-bg a {
    font-size: 20px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 0px;
}

.default-search .search-btn-bg .btn:hover{
    color: #fff;
    text-decoration: none;
    background-image: none; 
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.default-search .search-btn-bg .btn:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .125);
}

.default-search .condition {
    padding: 10px 0px;
    left: -10px;
}

.default-search .control {
    padding: 5px 0px;
}

.default-search .control-widget {
    padding: 0px 10px;
}


/********* default-view样式 ***********/
.default-view .frame {
    padding-left: 0;
    padding-right: 0;
    display: inline-block
}

.default-view
.frame-left {
    float: left;
    padding-left: 0;
    padding-right: 15px;
}

.default-view
.frame-right {
    float: right;
    padding-right: 0;
    padding-left: 15px;
}

.default-view
.frame-title {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    line-height: 20px;
    background-color: rgba(153, 153, 153, 1);
}

.default-view
.frame-title>span {
    display: block;
    float: left;
}

.default-view
.frame-title>.framebtn {
    position: absolute;
    top: 10px;
    right: 15px;
}

.default-view
.frame-table {
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
    border: 1px #ddd solid;
}

.default-view
.frame-right-table {
    height: 341px;
    border: 1px #ddd solid;
    overflow-y: auto;
}

/**
 * 小屏幕时去掉左右padding边距
 */
@media (max-width: 480px) {
    .default-view .frame-left,
    .default-view .frame-right {
        padding-left:  0px;
        padding-right: 0px;
    }
}

/********* course-make-couframe样式 ***********/
.course-make-couframe
.sortable {
    padding:0;
    margin: 0;
}

.course-make-couframe
.sortable a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.course-make-couframe
.sortable a>i {
    font-size: 16px;
    margin-right: 5px;
}

.course-make-couframe
.sortable .cou-icon {
    float: right;
}

.course-make-couframe
.sortable .cou-icon a>i {
    font-size: 12px;
    margin-right: 3px;
}

.course-make-couframe
.sortable li {
    list-style: none outside none;
    cursor: normal;
}

.course-make-couframe
.sortable .handle:hover{
    cursor: move;
}

.course-make-couframe
.sortable li.disabled:hover {
    cursor: default;
}

.course-make-couframe
.sortable .cou-default {
    padding: 8px;
    margin: 0 3px;
}

.course-make-couframe
.sortable .cou-phase {
    margin-top: 5px; 
    padding-top: 15px; 
    padding-bottom: 15px;
    background-color: #428bca;
}

.course-make-couframe
.sortable .cou-block {
    background-color: #006699;
}

.course-make-couframe
.sortable .cou-chapter {
    background-color: #66bbfc;
}

.course-make-couframe
.sortable .chapter-des {
    padding-right: 20px;
    padding-left: 20px; 
    border: 1px #cccccc solid;
}

.course-make-couframe
.sortable .cou-section {
    background-color: #cccccc;
}

.course-make-couframe
.sortable .cou-section a {
    color: #333333;
}

.course-make-couframe
.sortable .cou-activity,
.course-make-couframe
.sortable .cou-activity li {
    border: 1px #cccccc solid;
}

.course-make-couframe
.sortable .act-content {
    margin-bottom: -8px;
    padding: 8px 15px; 
}

.course-make-couframe
.sortable .act-content a {
    color: #333333;
}

.course-make-actlog .actlog{
    max-height: 555px;
    overflow-y: auto;
    padding-bottom: 15px;
}
