/* 
    主要的样式 （对应的样式层级，顶级前面统一加【模块名】）
    例如：.mcbs .style {
            样式...
        }
*/

/**
 * 小屏幕时去掉左右padding边距
 */
@media (max-width: 480px) {
    .mcbs {
        padding-left: 0px;
        padding-right: 0px;

    }
}

/**
 * 设置表单label样式
 */
.mcbs .form-label {
    color: #999999;
    font-weight: normal;
    padding-right: 0px;
}