/**
 * 公共样式
 */

@media (max-width: 480px) {
    .wrap .demand-task{
        padding-left: 0px;
        padding-right: 0px;

    }
}
.demand-task .table{
    table-layout: fixed;
}
.demand-task .table .list-td{
    color: #666;
    font-size: 13px;
}
.course-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.team-span {
    background-color: #333;
    display: block;
    width: 40px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.myModal {
    padding: 0px !important;
}
.myModal .label {
    display: inline;
    padding: .2em .6em .3em !important;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5.25em !important;
    margin-right: 5px;
}
.state-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: -3px 5px -3px 0;
}
.already_write {
    background: url('/filedata/demand/image/already_write.png') no-repeat;
}

/**
 * 面包屑样式
 */
.container .breadcrumb-title {
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    list-style: none;
    background-color: #2e6da4;
    border-radius: 4px;
}
.breadcrumb a {
    color: #fff;
}
.breadcrumb a:hover {
    color: #fff;
    text-decoration:none;
}
.breadcrumb .active {
    color: #ccc !important;
}

/**
 * 搜索框样式
 */
.demand-task .search-box {
    margin-top: 5px;
    margin-bottom: -1px;
    border-radius: 5px;
    padding: 0px;
}
.search-box .search-text-input{
    width: 100%;
    height: 40px;
    padding-right: 85px;
    float: left;
    border: 1px #ccc solid;
    border-radius: 4px;
}
.search-box .search-input {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
}
.search-box .search-input:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search-box .search-btn-bg {
    position: absolute;
    width: 85px;
    height: 40px;
    padding:0px;
    float: right;
    right: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #00cc99;
}
.search-btn-bg a {
    font-size: 15px;
    color: #fff;
    padding: 8px 10px;
    border-radius: 0px;
}
.search-btn-bg .btn:hover{
    color: #fff;
    text-decoration: none;
    background-image: none; 
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.search-btn-bg .btn:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .125);
}
.search-btn-bg .search-arrow-box {
    height: 30px;
    float: left;
    border-left: 1px solid #ccc;
    margin: 5px 0px;
    padding: 5px 8px;
}
.search-arrow-box:hover {
    cursor: pointer;
}
.down {
    display: none !important;
}
.up {
    display: block !important;
}
.search-list {
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.control-label {
    color: #999;
    padding: 7px 15px; 
    margin: 0px
}

/**
 * 课程表单页样式
 */
.total-unit{
    font-size: 13px;
    color: #eee;
}
/**
 * 任务详细页样式 
 */
.demand-task .viewdetail-th
{
    color: #666666;
    width: 23%;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
    vertical-align: middle;
}
.viewdetail-th-head
{
    color: #000000;
    text-align: left;
    font-weight: bold;
}
.demand-task .viewdetail-td
{
    min-width: 100px;
    vertical-align: middle;
}
.team-leader {
    color: blue;
}
.developer {
  margin: 5px 10px 5px 0;
  display: inline-block;
}
.mode{
    color: #ccc;
    font-weight: 400;
}
.status-progress-div {
    width: 60px;
    height: 60px;
    float: left;
    padding-top: 10px;
    border-radius: 5px;
    text-align: center;
}
.have-to {
    background-color: #f37b53;
    line-height: 20px;
}
.not-to {
    background-color: #dddddd;
    line-height: 35px;
}
.have-to-status {
    margin-bottom: 0px; 
    color: #fff;
}
.not-to-status {
    margin-bottom: 0px; 
    color: #999999;
}
.progress-strip {
    margin-bottom: 0px; 
    color: #ccc;
}
.direction-arrow {
    width: 32px;
    height: 16px;
    float: left;
    margin: 20px 0px;
    margin-right: 5px;
}


/**
 *  审核和验收样式
 */
.icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    color: #ccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
}
.task-complete {
    background-image: url('/filedata/multimedia/image/task-complete.png');
}
.working {
    background-image: url('/filedata/multimedia/image/working.png');
}

/**
 * 需求任务附件详情页样式
 */
.demand-task-annex-view iframe {
    border: none;
}
.demand .error-warn {
    color: #c55;;
}
.demand .reference {
    font-size: 12px;
    color: rgb(204, 204, 204);
    font-weight: 400;
}
.demand .form-label{
    color: #999999;
    font-weight: normal;
    padding-right: 0px;
}
.demand .form-img {
    position: absolute;
    top: 10px;
    right: 5px;
}
.demand .form-img:hover{
     cursor:pointer;
}
