.wrap{
    background-color: #e9e9e9;
}
.demand-default-index {
    
}
.demand-default-head {
    width: 100%;
}
.demand-default-headtop {
    width: 100%;
    height: 166px;
    background: url("/filedata/demand/image/head_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.demand-default-headbottom {
    width: 100%;
    background-color: #fff;
}
.demand-default-total {
    margin: 15px 0px;
    color: #696969;
    font-size: 12px;
    text-align: center;
    border-right: 1px #eee solid;
}
.total-icon {
    width: 32px;
    height: 32px;
    margin-top: -15px;
}
.completed-label{
    position: relative;
    top: -5px;
    font-size: 14px;
    color: #009944;
    border: 1px #ccc solid;
    padding: 0px 2px;
}
.completed-num {
    margin: 0px 15px;
    font-family: Arial !important;
    font-size: 28px;
    color: #009944;
}
.undone-label{
    position: relative;
    top: -5px;
    font-size: 14px;
    color: #666;
    border: 1px #ccc solid;
    padding: 0px 2px;
}
.undone-num {
    margin: 0px 15px;
    font-family: Arial !important;
    font-size: 28px;
    color: #666;
}

.demand-default-team {
    width: 304px;
    height: 220px;
    margin: 30px 15px;
    background-color: #fff;
    border-radius: 5px;
}
.team-top {
    width: 304px;
    height: 131px;
    padding: 20px 0px;
    text-align: center;
}
.team-icon {
    display: inline-block;
    width: 110px;
    height: 100px;
    padding:0px 10px;
}
.team-icon:hover, .team-icon:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.team-name {
    position: relative;
    top: 5px;
    font-size: 20px;
    color: #fff;
}
.team-bottom {
    padding: 13px 25px;
}
.team-total{
    padding: 0px !important;
}
.team-completed-label{
    position: relative;
    top: -5px;
    font-size: 14px;
    color: #009944;
    border: 1px #ccc solid;
    padding: 0px 2px;
}
.team-completed-num {
    width: 200px;
    float: right;
    margin-bottom: 5px;
    font-size: 10px;
    color: #009944;
}
.timer-completed{
    width: 155px;
    margin-right: 10px;
    float: left;
    display: block;
    font-family: Arial !important;
    font-size: 16px;
    text-align: right;
}
.team-undone-label{
    position: relative;
    top: -5px;
    font-size: 14px;
    color: #666;
    border: 1px #ccc solid;
    padding: 0px 2px;
}
.team-undone-num {
    width: 200px;
    float: right;
    margin-bottom: 5px;
    font-size: 10px;
    color: #666;
}
.timer-undone{
    width: 155px;
    margin-right: 10px;
    float: left;
    display: block;
    font-family: Arial !important;
    font-size: 16px;
    text-align: right;
}

@media (max-width: 767px){
    .col-xs-12{
        padding: 0px !important;
    }
    .demand-default-total {
        margin-bottom: -1px;
        padding: 0px !important;
        text-align: left;
        border-bottom: 1px #eee solid;
        border-right: none;
    }
    .demand-default-team{
        margin: 20px 0px;
    }
    .demand-default-container{
        padding: 0px 8px !important;
    }
   
}
