/**
 * 公共样式
 */

@media (max-width: 480px) {
    .wrap .demand-task{
        padding-left: 0px;
        padding-right: 0px;

    }
}
.demand-task .table{
    table-layout: fixed;
}
.demand-task .table .list-td{
    color: #666;
    font-size: 13px;
}
.course-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.team-span {
    background-color: #333;
    display: block;
    width: 40px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.myModal {
    padding: 0px !important;
}

/** 
 *  footer 导航样式
 */
.footer-demand-navbar{
    height: 50px;
    padding-top:0px !important;
}
/** 小屏不显示文字 */
@media (max-width: 767px) {
    .footer-demand-navbar .footer-demand-menu-item{
        width: 50px;
    }
}
/** 大屏显示文字 */
@media (min-width: 768px) {
    .footer-demand-navbar .footer-demand-menu-item{
        width: 100px;
    }
}
/** 导航菜单 */
.footer-demand-navbar .footer-demand-menu-item{
    display: inline-block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #000;
    font-weight: bold;
}
/** 导航菜单下img */
.footer-demand-navbar .footer-demand-menu-item img{
    width: 24px;
    height: 24px;
    margin-top: -5px;
}
/** 导航菜单名称 */
.footer-demand-navbar .footer-demand-menu-item .menu-name{
    margin-left: 5px;
}
/** 导航菜单选中 */
.footer-demand-navbar .footer-demand-menu-bg{
    background-color: #fff;
}
/** 导航菜单子菜单--靠右菜单 */
.footer-demand-navbar .submenu-right{
    float: right;
    font-weight: initial;
    background-color: #2e6da4 !important;
}
/** 导航菜单a标签鼠标移上样式 */
.footer-demand-navbar a:hover, a:focus {
    background-color: rgba(255, 255, 255, 0.46);;
    text-decoration: blink;
}

/**
 * 面包屑样式
 */
.container .breadcrumb {
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    list-style: none;
    background-color: #2e6da4;
    border-radius: 4px;
}
.breadcrumb a {
    color: #fff;
}
.breadcrumb a:hover {
    color: #fff;
    text-decoration:none;
}
.breadcrumb .active {
    color: #ccc !important;
}
/**
 * 课程表单页样式
 */
.form-img {
    margin: 10px 0px;
    float: left;
}
@media (min-width: 320px){
    #demandtaskannex .col-xs-9 {
        width: 94%;
        float: left;
    }
}
@media (min-width: 768px){
    #demandtaskannex .col-sm-10 {
        width: 96.33333333%;
        float: left;
    }
}
@media (min-width: 992px){
    #demandtaskannex .col-md-11 {
        width: 97.66666667%;
        float: left;
    }
}
@media (min-width: 1200px){
    #demandtaskannex .col-lg-12 {
        width: 98%;
        float: left;
    }
}

/**
 * 任务详细页样式 
 */
.demand-task .viewdetail-th
{
    color: #666666;
    width: 20%;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
    vertical-align: middle;
}
.viewdetail-th-head
{
    color: #000000;
    width: 20%;
    text-align: left;
    font-weight: bold;
}
.viewdetail td
{
    width: 80%;
    min-width: 100px;
}
.team-leader {
    color: blue;
}
.developer {
  margin: 5px 10px 5px 0;
  display: inline-block;
}

/**
 *  审核和验收样式
 */
.icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    color: #ccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
}
.task-complete {
    background-image: url('/filedata/multimedia/image/task-complete.png');
}
.working {
    background-image: url('/filedata/multimedia/image/working.png');
}