/**
 * 主页样式
 */

.add{
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    margin-bottom: -1px;
    border-bottom: 1px solid #ccc;
}
.total{
    width: 100%;
    float: left;
    text-align: right;
    padding-top: 10px;
    border-top: 1px solid #ccc; 
}
.lesson{
    font-size: 13px;
    color: #999;
}
.big{
    font-size: 16px;
}
.small{
    font-size: 10px;
}
.product-index{
    position: relative;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: -1px;
    padding: 10px 5px;
    float: left;
}
.product-index a{
    color: #000;
}
.product-index a:hover{
    cursor:pointer;
}
.product-index .product-index-header{
    position: relative;
    left: 0px;
    width: 85px;
    height: 85px;
}
.product-index-header img{
    width: 85px;
    height: 85px;
}
.product-index .product-index-body{
    position: absolute;
    top: 10px;
    left:95px; 
    right: 55px;
    height: auto;
}
.product-index-body .des{
    width: 100%;
    color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-index-body .price{
    color: #f00;
}
.product-index-body .number{
    color: #000;
    font-size: 15px;
    margin-left: 20px;
}
.product-index-body .total-price{
    color: #000;
    font-weight: 400;
    margin-left: 30px;
}
.product-index-footer{
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.product-index-footer .btn-danger {
    color: #fff;
}
/**
 * 产品列表页样式
 */
.product-list{
    height: 650px;
}
/*.return {
    margin-top: -2px;
    margin-left: -10px;   
}*/
.return:hover, .return:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.return {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.return {
    float: left;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
/** 课程产品详情 */
.demand-product-view{
    margin: 0px;
    padding: 0px;
}
.details-header{
    background-color: #eee;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 0;
}
.details-info{
    padding-top: 9%;
}
.inner{
    padding-left: 30px;
}
.tit{
    line-height: 70px;
    font-size: 42px;
    color: #a48559;
}
.desc{
    width: 360px;
    height: 36px;
    padding-left: 40px;
    background-image: url('/filedata/demand/image/desc.png');
}
.desc span{
    font-size: 26px;
    color: #fff;
}
.info{
    width: 570px;
    margin-top: 50px;
    font-size: 22px;
    color: #666;
}
.price{
    width: 206px;
    height: 57px;
    margin-top: 60px;
    background-image: url('/filedata/demand/image/price.png');
}
.rmb{
    width: 84px;
    height: 57px;
    float: left;
    line-height: 57px;
    text-align: center;
    display: block;
    font-size: 28px;
    color: #ceb591;
    font-weight: bold;
}
.number{
    width: 120px;
    height: 57px;
    float: left;
    line-height: 57px;
    text-align: center;
    display: block;
    font-size: 25px;
    color: #6d4c21;
}
.footer-view{
    padding-left: 5px;
    padding-right: 5px;
}
.footer-view-left{
    width: 140px;
    float: left;
    margin-top: -2px;
}
.totals{
    font-weight: bold;
}
.lessons{
    font-size: 10px;
    color: #999;
}
.overtime{
    font-size: 10px;
    color: #dd514c;
}
.footer-view-right{
    width: 165px;
    float:right;
}
