/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-4-1, 13:40:27
    Author     : Kiwi°
*/
.select-date{
    width: 180px; 
    float: right;
    padding: 0px; 
    margin-bottom: 5px;
}
.demand-workitem-table{
    width: 100%;
}
.table th{
    width: 200px;
    vertical-align: middle !important;
}
.table td{
    min-width: 100px;
    vertical-align: middle !important;
}
.table .tr{
    background-color: #eee;
}
.text-center{
    text-align: center;
    vertical-align: middle !important;
}
.text-right{
    color: #ccc;
    font-weight: 100;
    text-align: right;
    vertical-align: middle !important;
}
.unit{
    float: left;
    margin-top: 10px;
}
.cost-unit{
    float: right;
    margin-top: 10px;
    color: #ccc;
}
.workitem-type{
    font-weight: bold;
}
.workitem{
    font-size: 13px;
}
.total-cost{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
.pattern{
    font-size: 13px;
    color: #ccc;
    font-weight: 500;
}
@media (max-width: 1024px) {
    .col-sm-6{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-sm-7{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 480px) {
    .demand-workitem-table th{
        width: 65px;
        padding: 4px !important;
    }
    .demand-workitem-table .table td{
        padding: 2px !important;
    }
    .cost-unit{
        display: none;
    }
}

