/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-12-14, 18:42:19
    Author     : Administrator
*/

/****************** default--->index----样式 ******************/
.help-index{
    text-align: center;
    color: #999999;
    padding-top: 160px
}

.skin-blue .logo {
    margin-top: -8px;
}

.skin-blue .main-sidebar{
    position: fixed;
}

/****************** default--->view----样式 ******************/
.post-view{
    padding-top: 70px;
}

.post-view .post-header{
    border-bottom: 1px #999999 solid;
}

/***更改bootstrap下btn的样式***/
.post-view .btn{
    padding: 0px;
    vertical-align: unset;
}

.post-view .post-header .post-title, .post-caozuo{
    margin-top: 5px;
    display: inline-block
}

.post-view .post-header .post-title{
    min-width: 200px;
}

.post-view .post-header .post-caozuo{
    float: right;
}

.post-view .post-header .post-caozuo .caozuo{
    margin-top: 16px;
    margin-bottom: 4px;
}

#thumbs-up{
    display: inline-block
}

#thumbs-down{
    display: inline-block
}

.post-view .caozuo .fa{
    font-size: 16px;
    color: #9d9d9d;
    vertical-align: middle;
    margin-top: -5px;
}

.fa.fa-thumbs-up, .fa.fa-thumbs-down{
    color: #337ab7;
}

.post-view .font{
    font-size: 14px;
    color: #000;
}

.post-view .thumbs-up{
    margin-left: 25px;
    display: inline-block;
}

.post-view .thumbs-down{
    margin-left: 25px;
    display: inline-block;
}

.post-view .post-content{
    padding: 10px 60px 0px 60px;
    margin-bottom: 10px;
    min-height: 520px;
}

.post-view .updated_at{
    width: 100%;
    height: 22px;
    margin-bottom: 10px;
    border-bottom: 1px #999999 solid;
}

.post-view .updated_at .time{
    float: right;
}

.post-view .page{
    width: 100%;
    height: 22px;
    margin-bottom: 30px;
}

.post-view .page-left{
    float: left;
}

.post-view .page-right{
    float: right;
}

.post-content img {
    border: 1px solid #c5bebe;
}

/****************** layouts---->main----样式 ******************/
.content-wrapper {
    margin-top: -20px;
    background-color: #ffffff !important;
}

.content-wrapper .content{
    padding: 0px 15px 20px 15px;
}

