/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-1-19, 15:44:59
    Author     : Kiwi°
*/

.site-index .jumbotron {
    margin: 0px;
    padding: 0px !important;
}
.jumbotron .row {
    margin: 0px;
}
/*@media (min-width: 1200px){
    .row .col-lg-2 {
        width: 19.66666667%;
    }
}*/
.row .modules-list {
    margin-top: 15px;
    margin-bottom: 10px;
}
/*.row .center-block {
    margin: 0 20px;
}*/

/** 首页样式 */
.site-home{
    display: none;
    background: url("/filedata/site/image/site_homebg.jpg");
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 0;
}
.site-home-logo{
    position: relative;
    top: 100px;
    left: -50px;
    z-index: 100;
    text-align: center;
}
.site-home-introduction{
    position: relative;
    top: -30px;
    z-index: 200;
    font-family: '方正细倩_GBK';
    font-size: 30px;
    color: #565656;
    font-weight: 500;
    text-align: center;
}
.site-home-jumbotron{
    width: 100%;
    height: 200px;
    position: relative;
    top: 55px;
    z-index: 200;
}
.site-home-circlebox{
    height: 200px;
    position:relative;
    top: 150px;
    opacity: 0;
}
.netbutton{
    text-align: center;
    height: 200px;
    position:relative;
    top: 150px;
    opacity: 0;
}
@media (min-width: 1200px){
    .netbutton canvas{
        left: -45px;
    }
}
.netbutton canvas{
    position: relative;
    top: -85px;
}

.site-home-circle{
    width: 127px;
    height: 127px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    background-color: #aab5bb;
}
.circle-bg {
    width: 127px;
    height: 127px;
    margin: 0px auto;
    position: absolute;
    top: 0px;
    z-index: 400;
    font-family: 'FZLTCXHJW';
    color: #fff;
    line-height: 127px;
    text-align: center;
    letter-spacing: -7px;
    background-color: #3f99ce;
    opacity: 0;
}
.ciricle-num{
    margin-left: -10px;
    font-size: 65px;
}
.num-words{
    margin-left: 5px; 
    font-size: 15px;
}
.icon{
    position: absolute;
    top: -25px;
    right: 15px;
    font-size: 20px;
    opacity: 0;
}
.new-icon{
    width: 29px;
    height: 14px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url("/filedata/site/image/new.png");
    opacity: 0;
}
.site-home-words{
    width: 150px;
    margin: 0px auto;
    position: relative;
    color: #707070;
    font-weight: 500;
    text-align: center;
}
.color-replace{
    color: #3f98ce;
}
.site-home-words-ch{
    font-size: 20px;
    color: 93bcda!important;
}
.site-home-words-en{
    font-size: 16px;
    opacity: 0.5;
}
@font-face{
    font-family: '方正细倩_GBK';
    src: url('/filedata/site/font/fangzhengxiqian.woff') format('woff'),
         url('/filedata/site/font/fangzhengxiqian.ttf') format('ttf'),  
         url('/filedata/site/font/fangzhengxiqian.eot') format('eot'),  
         url('/filedata/site/font/fangzhengxiqian.svg') format('svg');
}
@font-face{
    font-family: 'FZLTCXHJW';
    src: url('/filedata/site/font/FZLTCXHJW.ttf') format('ttf'),
         url('/filedata/site/font/FZLTCXHJW.svg') format('svg'),
         url('/filedata/site/font/FZLTCXHJW.woff') format('woff'),
         url('/filedata/site/font/FZLTCXHJW.eot') format('eot');
}

/** 登录页 */
.site-login{
    display: none;
    background: url("/filedata/site/image/site_loginbg.jpg");
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 0;
}
.site-login-logo{
    position: relative;
    top: 100px;
    left: -50px;
    z-index: 100;
    text-align: center;
}
.site-login-introduction{
    position: relative;
    top: -30px;
    z-index: 200;
    font-family: '方正细倩_GBK';
    font-size: 30px;
    color: #565656;
    text-align: center;
}
.site-login-form{
    width: 100%;
    position: relative;
    top: 25px;
    z-index: 200;
}
.site-login-case{
    left: 50%;
    margin-left:-35%;
}
.site-login-icon{
    width:40px !important;
    left: 7px;
    padding:0px !important;
    z-index: 100
}