/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-1-19, 15:44:59
    Author     : Kiwi°
*/

/**
 * 首页样式
 */
.site-home{
    display: none;
    background: url("/filedata/site/image/site_homebg.jpg");
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 0;
}
.site-home-logo{
    width: 100%;
    text-align: center;
}
.site-home-title{
    margin-top: -150px;
    font-family: '方正细倩_GBK';
    font-size: 30px;
    color: #565656;
    font-weight: 500;
}
.site-home-jumbotron{
    width: 100%;
    position: relative;
    top: 90px;
    z-index: 200;
}
.site-home-circlebox{
    height: 200px;
    position:relative;
    top: 150px;
    opacity: 0;
}
.netbutton{
    text-align: center;
    height: 200px;
    position:relative;
    top: 150px;
    opacity: 0;
}
@media (min-width: 1200px){
    .netbutton canvas{
        left: -45px;
    }
}
.netbutton canvas{
    position: relative;
    top: -85px;
}

.site-home-circle{
    width: 127px;
    height: 127px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    background-color: #aab5bb;
}
.circle-bg {
    width: 127px;
    height: 127px;
    margin: 0px auto;
    position: absolute;
    top: 0px;
    z-index: 400;
    font-family: 'FZLTCXHJW';
    color: #fff;
    line-height: 127px;
    text-align: center;
    letter-spacing: -7px;
    background-color: #3f99ce;
    opacity: 0;
}
.ciricle-num{
    margin-left: -10px;
    font-size: 65px;
}
.num-words{
    margin-left: 5px; 
    font-size: 15px;
}
.icon{
    position: absolute;
    top: -25px;
    right: 15px;
    font-size: 20px;
    opacity: 0;
}
.new-icon{
    width: 29px;
    height: 14px;
    display: block;
    position: absolute;
    top: 0px;
    right: 25px;
    background: url("/filedata/site/image/new.png");
    opacity: 0;
}
.site-home-words{
    width: 150px;
    margin: 0px auto;
    position: relative;
    color: #707070;
    font-weight: 500;
    text-align: center;
}
.color-replace{
    color: #3f98ce;
}
.site-home-words-ch{
    font-size: 20px;
    color: 93bcda!important;
}
.site-home-words-en{
    font-size: 16px;
    opacity: 0.5;
}

/**
 * 登录页样式
 */
.site-login{
    display: none;
    background: url("/filedata/site/image/site_loginbg.jpg");
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 0;
}
.site-login-box{
    width: 422px;
    height: 450px;
    margin: 171px auto;
    padding: 17px;
    border-radius: 23px;
    background: url("/filedata/site/image/site_loginboxbg.png");
    background-repeat: no-repeat;
}
.site-login-form{
    width: 390px;
    height: 415px;
    padding: 24px 37px 34px 40px;
    border-radius: 23px;
}
.site-login-logo{
    width: 100%;
    height: 78px;
}
.site-login-logo img{
    width: 69px;
    height: 78px;
}
.site-login-logo span{
    font-family: '方正细倩_GBK';
    font-size: 21px;
    color: #565656;
    font-weight: 500;
}
.site-login-case{
    width: 100%;
}
.site-login-attribute{
     margin-top: 21px;
     padding-left: 10px !important;
     padding-right: 10px !important;
}
.site-login-icon{
    width:40px !important;
    left: 7px;
    padding:0px !important;
    z-index: 100
}
.site-login-button{
    margin-top: 55px;
    margin-left: 35px;
    margin-right: 35px;
}

/**
 * 公共部分
 */
@font-face{
    font-family: '方正细倩_GBK';
    src: url('/filedata/site/font/fangzhengxiqian.woff') format('woff'),
         url('/filedata/site/font/fangzhengxiqian.ttf') format('ttf'),  
         url('/filedata/site/font/fangzhengxiqian.eot') format('eot'),  
         url('/filedata/site/font/fangzhengxiqian.svg') format('svg');
}
@font-face{
    font-family: 'FZLTCXHJW';
    src: url('/filedata/site/font/FZLTCXHJW.ttf') format('ttf'),
         url('/filedata/site/font/FZLTCXHJW.svg') format('svg'),
         url('/filedata/site/font/FZLTCXHJW.woff') format('woff'),
         url('/filedata/site/font/FZLTCXHJW.eot') format('eot');
}
