/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-1-7, 10:39:02
    Author     : Kiwi°
*/

.wrap >.content {
    padding: 50px 0px 20px !important;
}
.bookdetail-list
{
     padding-left: 0px !important;
     padding-right: 0px !important;
    
}

.row-type{
    margin-right: -5px !important;
}
.col-xs-6{
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.resource-index-a{
    color:#ccc !important;
    float: left; 
    margin: 10px auto;
    
}
.resource-type-a{
    color:#ccc !important; 
    float: left; 
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
}
.resource-type-relative{
    width: 100%;
    overflow:hidden;
    position:relative;
}

.resource-type-absolute{
    position:absolute;
    bottom:0;
    background: url('/css/imgs/u194_b.png'); 
    width: 210px;
    height: 33px;
}

.resource-type-text{
    float: left;
    padding-left: 5px; 
    line-height: 33px;
}

.resource-type-text-right{
    float:right;
    padding-right: 5px; 
    line-height: 33px;
}
.modal-body {
    position: relative;
    padding: 0 !important; 
}

/**
 * 轮换图样式
 */
.content .site-list {
    padding: 0px;
}

.content .display{
    width: 48px !important;
    height: 48px !important;
    position:absolute !important; 
    bottom:  0px !important; 
    right:  0px !important;
}

.content .display:hover{
   cursor:pointer;
}

.content .carousel-inner .item img{
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}
.content .carousel{
    position:relative !important;
    line-height:1 !important;
}
.carousel .carousel-indicators{
    position: absolute !important;
    width:80px !important;
    z-index: 5 !important;
    margin: 0px !important;
    list-style: none !important;
}

.carousel-indicators li{
    display:block !important;
    float:left !important;
    width:10px !important;
    height:10px !important;
    margin-left:5px !important;
    text-indent:-999px !important;
    background-color:#ccc !important;
    background-color:rgba(255, 255, 255, 0.25) !important;
    border-radius:5px !important;
}

.carousel-indicators .active{
    background-color:#fff !important;
}

.carousel-control{
    position:absolute !important;
    top:40% !important;
    left:15px !important;
    width:40px !important;
    height:40px !important;
    margin-top:-20px !important;
    font-size:60px !important;
    font-weight:100 !important;
    line-height:30px !important;
    color:#ffffff !important;
    text-align:center !important;
    background:#222222 !important;
    border:3px solid #ffffff !important;
    -webkit-border-radius:23px !important;
    -moz-border-radius:23px !important;
    border-radius:23px !important;
    opacity:0.5 !important;
    filter:alpha(opacity=50) !important;
}

.carousel-control.right{
    left:auto !important;
    right:15px !important;
}

.carousel-caption{
    position:absolute !important;
    left:0 !important;
    right:0 !important;
    bottom: 0 !important;
    padding:15px !important;
    background:#333333 !important;
    background:rgba(0, 0, 0, 0.75) !important;
}

.course-name
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carousel-caption h4 {
    text-align: left !important;
    font-size: 17.5px !important;
    line-height: 20px !important;
    color: #ffffff !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: bold !important;
    text-rendering: optimizelegibility !important;
}
.carousel-caption p{
    text-align: left !important;
    font-size: 10px !important;
    color: #ffffff !important;
    line-height: 20px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    margin-right:30px !important;
    margin-bottom:0 !important;
}
@media screen and (min-width: 992px){
.container .jumbotron {
    padding-right: 0px !important;;
    padding-left: 56px !important;
}
.row-type{
    margin-left: 35px !important;
}
}

