.multimedia-home{}

.multimedia-home .head-top {
    width: 100%;
    height: 166px;
    background: url("../imgs/head_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.multimedia-home .content{
    margin-top: 10px;
}
/* 主标题 */
.multimedia-home .content .main-title{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 30px;
}

/* 规则标题 */
.multimedia-home .content .title{
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px 5px;
    color: #555;
}

.multimedia-home .content .main-title .icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.multimedia-home .content .main-title .statistics-disable-icon{
    background: url('../imgs/statistics_disable_24x24.png');
}

/*----------------------
  本月规则
----------------------*/
/* 比例名称 */
.multimedia-home .content .rule-name{
    font-size: 14px;
}
/* 比例值 */
.multimedia-home .content .rule-proportion{
    font-family:"Arial";
    font-size:14px;
    color: #ABA8A8;
    margin: 0px 15px 0px 5px;
    font-weight: normal;
}

/*
 width: 100%;
*/
.multimedia-home .content .chart{
    width: 100%;
}

