/**
 * 公共样式
 */
@media (max-width: 480px) {
    .wrap .multimedia-task{
        padding-left: 0px;
        padding-right: 0px;

    }
}
.wrap .multimedia-task{
        
}
.multimedia-task .table{
    table-layout: fixed;
}
.multimedia-task .table .list-td{
    color: #666;
    font-size: 13px;
}
.team-span {
    background-color: #333;
    display: block;
    width: 40px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.content-type {
    background-color: rgba(243, 123, 83, 1);
    display: block;
    width: 30px;
    font-size: 12px;
    padding: 2px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.course-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-list .table-list-progress{
    height:20px;
    margin:5px 0px;
    border-radius:5px;
}
.table-list .progress {
    background-image: linear-gradient(to bottom, #ddd, #ccc);
}
.myModal {
    padding: 0px !important;
}
.container .footer-view-btn {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap; 
}
.footer-view-btn::-webkit-scrollbar { 
    width:0px;
    height:0px;
}
/*#yii-debug-toolbar {
    display: none !important;
}*/

/** 
 *  footer 导航样式
 */
.footer-multimedia-navbar .footer-multimedia {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    font-weight: bold;
    color: #000;
}
.footer-multimedia-navbar .footer-multimedia-xs{
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
}
.footer-multimedia-navbar .footer-multimedia-bg{
    background-color: #fff;
}
.footer-multimedia-navbar .footer-multimedia-right{
    float: right;
    font-weight: initial;
    background-color: #2e6da4 !important;
}
.footer-multimedia-navbar .footer-multimedia img{
    width: 24px;
    height: 24px;
    margin-top: -5px;
    margin-right: 5px;
}
.footer-multimedia-navbar .footer-multimedia-xs img{
    width: 24px;
    height: 24px;
    margin-top: 2px;
}
.footer-multimedia-navbar a:hover, a:focus {
    background-color: rgba(255, 255, 255, 0.46);;
    text-decoration: blink;
}

/**
 * 搜索框样式
 */
.multimedia-task .search-box {
    margin-top: 5px;
    margin-bottom: -1px;
    border-radius: 5px;
    padding: 0px;
}
.search-box .search-text-input{
    width: 100%;
    height: 40px;
    padding-right: 85px;
    float: left;
    border: 1px #ccc solid;
    border-radius: 4px;
}
.search-box .search-input {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
}
.search-box .search-input:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search-box .search-btn-bg {
    position: absolute;
    width: 85px;
    height: 40px;
    padding:0px;
    float: right;
    right: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #00cc99;
}
.search-btn-bg a {
    font-size: 15px;
    color: #fff;
    padding: 8px 10px;
    border-radius: 0px;
}
.search-btn-bg .btn:hover{
    color: #fff;
    text-decoration: none;
    background-image: none; 
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.search-btn-bg .btn:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .125);
}
.search-btn-bg .search-arrow-box {
    height: 30px;
    float: left;
    border-left: 1px solid #ccc;
    margin: 5px 0px;
    padding: 5px 8px;
}
.search-arrow-box:hover {
    cursor: pointer;
}
.down {
    display: none !important;
}
.up {
    display: block !important;
}
.search-list {
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.control-label {
    color: #999;
    padding: 7px 15px; 
    margin: 0px
}

/**
 * 任务详细页样式 
 */
.multimedia-task .viewdetail-th
{
    color: #666666;
    width: 20%;
    font-weight: normal;
    text-align: right;
    vertical-align: middle;
}
.multimedia-task .viewdetail-td {
    width: 80%;
    vertical-align: middle;
}
.viewdetail-th-head
{
    color: #000000;
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding: 0 4px;
}
.multimedia-task .table  th {
    padding: 8px 4px 8px 0px;
}
.viewdetail td
{
    width: 80%;
    min-width: 100px;
}
@media (max-width: 375px){
    .multimedia-task .viewdetail-th {
        width: 28%;
    }
    .multimedia-task .viewdetail-td {
        width: 72%;
    }
}
.level {
    color: #ff0000;
}
.proportion {
    color: #999;
    margin-left: 10px;
}
.complete-time {
    color: #ff0000;
}
.status-progress-div {
    width: 60px;
    height: 60px;
    float: left;
    padding-top: 10px;
    border-radius: 5px;
    text-align: center;
}
.have-to {
    background-color: #f37b53;
    line-height: 20px;
}
.not-to {
    background-color: #dddddd;
    line-height: 35px;
}
.have-to-status {
    margin-bottom: 0px; 
    color: #fff;
}
.not-to-status {
    margin-bottom: 0px; 
    color: #999999;
}
.progress-strip {
    margin-bottom: 0px; 
    color: #ccc;
}
.direction-arrow {
    width: 32px;
    height: 16px;
    float: left;
    margin: 20px 0px;
    margin-right: 5px;

}
.icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    color: #ccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
}
.task-complete {
    background-image: url('/filedata/multimedia/image/task-complete.png');
}
.working {
    background-image: url('/filedata/multimedia/image/working.png');
}