/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-4-18, 11:03:13
    Author     : Kiwi°
*/

/**
 *  主页样式
 */
.wrap{
}
.item-manage-index {
    width: 100%;
    position: relative;
    display: none;
    background: url("/filedata/teamwork/image/developmentbg.jpg");
    background-color: #9da2a5;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 0;
}
.item-manage-words{
    display: table-cell;
    vertical-align: bottom;
    font-family: '方正细倩_GBK';
}
.words-ch{
    font-size: 40px;
    color: #333;
}
.words-en{
    font-size: 22px;
    color: #666;
}
.item-manage-team{
    width: 100%;
    padding-top: 80px; 
    background-color: #9da2a5;
}
.team{
  height: 117px;
  margin-bottom: 30px;
}
.team-logo{
    width: 60px;
    height: 112px;
    float: left;
    padding-top: 5px;
    border-right: 2px solid #fff;
    line-height: 112px;
}
.team-logo img{
    width: 50px;
    height: 47px;
    margin-right: 10px;
}
.team-content{
    width: 155px;
    height: 112px;
    margin-left: 5px;
    float: left;
}
.team-content p{
    margin: -5px 0 8px;
}
.team-name{
    font-family: 'FZLTHJW';
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}
.see{
    width: 28px;
    height: 28px;
    display: inline-block;
    float: right;
    background: url("/filedata/teamwork/image/see.png");
}
.team-label{
    width: 45px;
    font-size: 13px;
    color: #8e9396;
    text-align: center;
    background: #fff;
    display: inline-block;
    padding: 1px; 
    float: left;
    margin-bottom: 5px; 
}
.team-number{
    width: 75px;
    font-family: 'FZLTHJW';
    font-size: 16px;
    color: #fff;
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px; 
}
.team-unit{
    width: 30px;
    font-size: 13px;
    text-align: right;
    color: #fff;
    display: inline-block;
    float: left;
    margin-bottom: 5px; 
}


@media (min-width: 1280px){
    .item-manage-index .container {
        width: 1280px;
    }
    .container .team{
        width: 20%;
    }
}
@media (min-width: 1400px){
    .item-manage-index .container {
        width: 1400px;
        padding: 0px;
    }
    .container .team{
        width: 16.66666667%;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (min-width: 1500px){
    .item-manage-index .container {
        width: 1500px;
    }
    .container .team{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@font-face{
    font-family: '方正细倩_GBK';
    src: url('/filedata/site/font/fangzhengxiqian.woff') format('woff'),
         url('/filedata/site/font/fangzhengxiqian.ttf') format('ttf'),  
         url('/filedata/site/font/fangzhengxiqian.eot') format('eot'),  
         url('/filedata/site/font/fangzhengxiqian.svg') format('svg');
}
@font-face{
    font-family: 'FZLTHJW';
    src: url('/filedata/site/font/FZLTHJW.woff') format('woff'),
         url('/filedata/site/font/FZLTHJW.ttf') format('ttf'),  
         url('/filedata/site/font/FZLTHJW.eot') format('eot'),  
         url('/filedata/site/font/FZLTHJW.svg') format('svg');
}