/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-6-27, 11:00:01
    Author     : KiwiUser
*/

/**
 * 公共部分样式
 */
.container.item-manage{
    padding-left: 0px;
    padding-right: 0px;
}
.container .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.container .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9 !important;
}
.controlbar .disabled{
    pointer-events: none;
}
.table-list .table-list-progress{
    height:20px;
    margin-bottom:5px;
    border-radius:5px;
    margin-top: 5px;
}
.table-list .progress {
    background-image: linear-gradient(to bottom, #ddd, #ccc);
}

/** 
 * 项目列表页样式 
 */
.footer-item-list .footer-item{
    display: block;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    float: left;
    font-weight: bold;
    color: #000;
}
.footer-item-list .footer-item-bg{
    background-color: #ebcccc;
}
.footer-item-list .footer-item-right{
    float: right;
    font-weight: initial;
    background-color: #2e6da4 !important;
}
.footer-item-list .footer-item img{
    width: 24px;
    height: 24px;
    margin-top: -5px;
    margin-right: 5px;
}
.footer-item-list a:hover, a:focus {
    background-color: #ebcccc;
    text-decoration: blink;
}

/**
 * 任务详细页样式 
 */
.viewdetail-th
{
    color: #666666;
    width: 20%;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
}
.viewdetail-th-head
{
    color: #000000;
    width: 20%;
    text-align: left;
    font-weight: bold;
}
.viewdetail td
{
    width: 80%;
    min-width: 100px;
}

/*
 * 课程添加页面样式
 */
.producer{
    display: block;
    float: left;
    width: 80px;
    height: 35px;
    border: 1px #000 solid;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.producer .delete-icon{
    background: url("/filedata/image/delete.png") no-repeat;
    margin-top: -42px;
    margin-left: 67px;
    height: 16px;
    display: block;
    width: 16px;
}

/**
 * 课程进度录入页面样式
 */

#myModal {
    padding-right: 0px !important;
}
#myModal .modal-md {
    margin-top: 150px;
}

#myModal .entry-link-form {
    margin: 20px;
}

