/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-6-27, 11:00:01
    Author     : KiwiUser
*/

/**
 * 公共部分样式
 */
.container.item-manage{
    padding-left: 0px;
    padding-right: 0px;
}
.item-manage .row {
    margin: 0px;
}
.container .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.container .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9 !important;
}
.controlbar .disabled{
    pointer-events: none;
}
.table-list .table-list-progress{
    height:20px;
    margin:5px 0px;
    border-radius:5px;
}
.table-list .progress {
    background-image: linear-gradient(to bottom, #ddd, #ccc);
}
.course-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 *  主页样式
 */
.item-manage-row {
    margin: 0px  !important;
    padding: 0px !important;
}
.head {
    width: 100%;
}
.head-top {
    width: 100%;
    height: 166px;
    background: url("/filedata/teamwork/image/head_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.head-bottom {
    width: 100%;
    background-color: #fff;
}
.head-bottom .total {
    padding: 10px 15px;
}
.lession-time {
    padding: 5px 15px;
    text-align: center;
    border-right: 1px #eee solid;
}
.course-door {
    padding: 5px 15px;
    text-align: center; 
    border-right: 1px #eee solid;
}
.total-icon {
    width: 32px;
    height: 32px;
}
.completed {
    font-family: Arial !important;
    font-size: 28px !important;
    color: #009944 !important;
    margin-top: -5px !important;
    margin-right: 5px;
    text-align: center;
}
.undone {
    font-family: Arial !important;
    font-size: 28px !important;
    color: #666666 !important;
    margin-top: -5px !important;
    margin-right: 5px;
    text-align: center;
}
.team {
    width: 304px;
    height: 220px;
    margin: 25px 0px 0px;
    background-color: #fff;
    border-radius: 5px;
}
.team-top {
    width: 304px;
    height: 131px;
    padding: 15px 0px;
}
.team-name {
    font-size: 20px;
    color: #fff;
    margin-top: -10px;
}
.team-top a {
    display: inline-block;
    width: 89px;
    height: 83px;
    padding:10px;
}
.team-bottom {
    width: 304px;
    padding: 10px 15px;
}
.team-bottom-left {
    width: 50%;
    float: left;
    margin-right: -1px;
    border-right: 1px #eee solid;
}
.team-bottom-right {
    width: 50%;
    float: left;
    border-left: 1px #eee solid;
}
.team-bottom p {
    margin: 0 0 2px;
}
@media (max-width: 767px){
    .head-bottom .total {
        padding: 0;
    }
    .lession-time {
        padding: 10px 0px;
        text-align: left;
        border-bottom: 1px #eee solid;
        border-right: none;
        margin-bottom: -1px;
    }
    .course-door {
        padding: 10px 0px;
        text-align: left; 
        border-top: 1px #eee solid;
        border-right: none
    }
    .total-xs {
        width: 41.66666667%;
    }
    .head-bottom .completed {
        text-align: right;
    }
    .head-bottom .undone {
        text-align: right;
    }
}

/**
 * 团队成员页样式
 */
.item-manage-member .member-bg {
    width:100%;
    height:95px;
    background-color:rgba(119, 128, 138, 1);
    margin-bottom: 20px;
}
.item-manage-member .left{
    width:80px;
    float: left;
}
.item-manage-member img {
    width: 80px;
    height: 80px;
    margin-top:7.5px;
    margin-left:5px;
}
.item-manage-member .right{
    margin-left: 25px;
    margin-top: 25px;
    float: left;
}
.right .span-name {
    font-size: 20px;
    color: #fff;
}
.right p {
    margin-top: -5px;
}
.right .span-position {
    font-size: 14px;
    color: rgb(204, 204, 204);
}

/**
 * 搜索框样式
 */
.item-manage .search-box {
    margin-top: 5px;
    margin-bottom: -1px;
    border-radius: 5px;
    padding: 0px;
}
.search-box .search-text-input{
    width: 100%;
    height: 40px;
    padding-right: 85px;
    float: left;
    border: 1px #ccc solid;
    border-radius: 4px;
}
.search-box .search-input {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
}
.search-box .search-input:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search-box .search-btn-bg {
    position: absolute;
    width: 85px;
    height: 40px;
    padding:0px;
    float: right;
    right: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #00cc99;
}
.search-btn-bg a {
    font-size: 15px;
    color: #fff;
    padding: 8px 10px;
    border-radius: 0px;
}
.search-btn-bg .btn:hover{
    color: #fff;
    text-decoration: none;
    background-image: none; 
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.search-btn-bg .btn:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .125);
}
.search-btn-bg .search-arrow-box {
    height: 30px;
    float: left;
    border-left: 1px solid #ccc;
    margin: 5px 0px;
    padding: 5px 8px;
}
.search-arrow-box:hover {
    cursor: pointer;
}
.down {
    display: none !important;
}
.up {
    display: block !important;
}
.search-list {
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.control-label {
    color: #999;
    padding: 7px 15px; 
    margin: 0px
}

/** 
 * 项目列表页样式 
 */
.footer-item-list .footer-item{
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    float: left;
    font-weight: bold;
    color: #000;
}
.footer-item-list .footer-item-xs{
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 45px;
}
.footer-item-list .footer-item-bg{
    background-color: #fff;
}
.footer-item-list .footer-item-right{
    float: right;
    font-weight: initial;
    background-color: #2e6da4 !important;
}
.footer-item-list .footer-item img{
    width: 24px;
    height: 24px;
    margin-top: -5px;
    margin-right: 5px;
}
.footer-item-list .footer-item-xs img{
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 5px;
}
.footer-item-list a:hover, a:focus {
    background-color: rgba(255, 255, 255, 0.46);;
    text-decoration: blink;
}

.course-manage-index .team-span {
    background-color: #333;
    display: block;
    width: 40px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

/**
 * 面包屑样式
 */
.container .breadcrumb {
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    list-style: none;
    background-color: #2e6da4;
    border-radius: 4px;
}
.breadcrumb a {
    color: #fff;
}
.breadcrumb a:hover {
    color: #fff;
    text-decoration:none;
}
.breadcrumb .active {
    color: #ccc !important;
}

/**
 * 课程表单页样式
 */
.form-img {
    margin: 10px 0px;
    float: left;
}
@media (min-width: 320px){
    #courseannex .col-xs-9 {
        width: 94%;
        float: left;
    }
}
@media (min-width: 768px){
    #courseannex .col-sm-10 {
        width: 96.33333333%;
        float: left;
    }
}
@media (min-width: 992px){
    #courseannex .col-md-11 {
        width: 97.66666667%;
        float: left;
    }
}
@media (min-width: 1200px){
    #courseannex .col-lg-12 {
        width: 98%;
        float: left;
    }
}

/**
 * 任务详细页样式 
 */
.viewdetail-th
{
    color: #666666;
    width: 20%;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
}
.viewdetail-th-head
{
    color: #000000;
    width: 20%;
    text-align: left;
    font-weight: bold;
}
.viewdetail td
{
    width: 80%;
    min-width: 100px;
}
.team-leader {
    color: blue;
}
.developer {
  margin: 5px 10px 5px 0;
  display: inline-block;
}

/**
 *  周报页面样式
 */
.row .weekinfo{
    margin: 5px 5px 5px 0px;
}
.row .active {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.summar{
    width:100%;
    height:auto;
    border:1px #ccc solid;
    padding:10px;
    overflow-x: auto;
}
.summar .time {
    color:#ccc;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.state-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: -3px 5px;
}
.not-to {
    background: url('/filedata/teamwork/image/not_to_black.png') no-repeat;
}
.already-write {
    background: url('/filedata/teamwork/image/already_write.png') no-repeat;
}
.this-week {
    background: url('/filedata/teamwork/image/this_week.png') no-repeat;
}
.leak-write {
    background: url('/filedata/teamwork/image/leak_write.png') no-repeat;
}
@media (min-width: 1200px) {
    .row  .col-lg-2 {
        width: 15.66666667%;
    }
}

/*
 * 课程添加页面样式
 */
.producer{
    display: block;
    float: left;
    width: 100%;
    height: 35px;
    border: 1px #000 solid;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.producer .delete-icon{
    position: absolute;
    background: url("/filedata/image/delete.png") no-repeat;
    top: -6px;
    right: 10px;
    height: 16px;
    display: block;
    width: 16px;
}

/**
 * 课程进度录入页面样式
 */
#myModal {
    padding-right: 0px !important;
}
#myModal .modal-md {
    margin-top: 150px;
}

#myModal .entry-link-form {
    margin: 20px;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}

/**
 * 课程附件详情页样式
 */
.course-annex-view iframe {
    border: none;
}