/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-6-27, 11:00:01
    Author     : KiwiUser
*/

/**
 * 公共部分样式
 */

.container.item-manage{
    padding-left: 0px;
    padding-right: 0px;
}
.item-manage .row {
    margin: 0px;
}
.container .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.container .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9 !important;
}
.controlbar .disabled{
    pointer-events: none;
}
.table-list .table-list-progress{
    height:20px;
    margin-bottom:5px;
    border-radius:5px;
    margin-top: 5px;
}
.table-list .progress {
    background-image: linear-gradient(to bottom, #ddd, #ccc);
}
/**
 * 面包屑样式
 */
.container .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    margin-top: -7px;
    list-style: none;
    background-color: #2e6da4;
    border-radius: 4px;
}
.breadcrumb a {
    color: #fff;
}
.breadcrumb a:hover {
    color: #fff;
    text-decoration:none;
}
.breadcrumb .active {
    //width: 100px;
    color: #fff !important;
}
.breadcrumb .course-name
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/**
 *  首页样式
 */
.item-manage .item-manage-head {
    background-color: rgba(243, 123, 83, 1);
    width: 100%; 
    height: 180px;
    margin-top: 20px;
}
.item-manage-head .item-manage-headline{
    padding:10px;
    display: block;
    font-size: 22px;
    color: #fff
}
.item-manage-head .lession-time{
    padding-left:50px;
    color: #fff;
}
.item-manage-head p{
    padding-bottom: 20px;
}
.item-manage-head span{
    float: left;
    display: block
}

.item-manage-head .completed-undone{
    font-size: 35px;
    float:left;
    width: 10%;
    margin-top: -20px;
    margin-right: 10px;
    text-align: right;
}

.item-manage-head .eye-team{
    margin-left: 15px;
    width: 24px;
    height: 24px;
}

.item-manage-head a:hover{
    text-decoration:none;
    color: #fff;
}
.item-manage .item-manage-bottom{
    background-color: rgba(119, 128, 138, 1);
    width: 100%;
    height: 150px;
    float: left;
}
.item-manage-bottom .completed-undone{
    font-size:25px;
    width: 27%;
    margin-top: -10px;
    margin-right: 10px;
}


/**
 * 团队成员页样式
 */
.item-manage-member .member-bg {
    width:100%;
    height:95px;
    background-color:rgba(119, 128, 138, 1);
    margin-bottom: 20px;
}
.item-manage-member .left{
    width:80px;
    float: left;
}


.item-manage-member img {
    width: 80px;
    height: 80px;
    margin-top:7.5px;
    margin-left:5px;
}

.item-manage-member .right{
    margin-left: 25px;
    margin-top: 25px;
    float: left;
}
.right .span-name {
    font-size: 20px;
    color: #fff;
}
.right p {
    margin-top: -5px;
}
.right .span-position {
    font-size: 14px;
    color: rgb(204, 204, 204);
}

/** 
 * 项目列表页样式 
 */
.footer-item-list .footer-item{
    display: block;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    float: left;
    font-weight: bold;
    color: #000;
}
.footer-item-list .footer-item-bg{
    background-color: #ebcccc;
}
.footer-item-list .footer-item-right{
    float: right;
    font-weight: initial;
    background-color: #2e6da4 !important;
}
.footer-item-list .footer-item img{
    width: 24px;
    height: 24px;
    margin-top: -5px;
    margin-right: 5px;
}
.footer-item-list a:hover, a:focus {
    background-color: #ebcccc;
    text-decoration: blink;
}

/**
 * 任务详细页样式 
 */
.viewdetail-th
{
    color: #666666;
    width: 20%;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
}
.viewdetail-th-head
{
    color: #000000;
    width: 20%;
    text-align: left;
    font-weight: bold;
}
.viewdetail td
{
    width: 80%;
    min-width: 100px;
}
.summar{
    width:100%;
    height:350px;
    border:1px #ccc solid;
    padding:10px
}
.summar p {
    color:#ccc;
}

/*
 * 课程添加页面样式
 */
.producer{
    //position: absolute;
    display: block;
    float: left;
    width: 100%;
    height: 35px;
    border: 1px #000 solid;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.producer .delete-icon{
    position: absolute;
    background: url("/filedata/image/delete.png") no-repeat;
    top: -6px;
    right: 10px;
    height: 16px;
    display: block;
    width: 16px;
}

/**
 * 课程进度录入页面样式
 */

#myModal {
    padding-right: 0px !important;
}
#myModal .modal-md {
    margin-top: 150px;
}

#myModal .entry-link-form {
    margin: 20px;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
