.control-label {
    padding: 7px 12px !important; 
    margin: 0;
    color: #999;
    font-weight: normal;
}

.form-label {
    padding: 7px 0 !important;
}

.table {
    table-layout: fixed;
}

.table th {
    vertical-align: middle !important;
}

.table td {
    font-size: 13px;
    vertical-align: middle !important;
}

div.des {
    height:65px; 
    vertical-align: middle; 
    display:table-cell
}

div.tip {
    padding: 8px;
    color: #333;
    background-color: #f2f2f2;
}

span.stamp {
    font-size: 12px; 
    color: #ccc; 
    font-weight: normal;
}

.danger {
    color: #d9534f;
}
.success {
    color: #5cb85c;
}
.warning {
    color: #f0ad4e;
}
.primary {
    color: #3333ff;
}

.save-path {
    padding: 0 0 15px; 
    margin-bottom: 15px; 
    border-bottom: 1px solid #ccc;
}

/***********************************搜索框样式***********************************/
.search {
    padding: 0 !important;
    margin: 5px 0 -1px;
    border-radius: 5px;
}
.search .input {
    float: left;
    width: 100%;
    height: 40px;
    padding-right: 85px;
    border: 1px #ccc solid;
    border-radius: 4px;
}
.search .input .keyword {
    height: auto;
    padding: 9px 12px;
    font-size: 14px;
    border: none;
    box-shadow: none;
}
.search .input > .keyword:focus {
    outline: 0;
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.search .btngroup {
    position: absolute;
    right: 0;
    float: right;
    width: 85px;
    height: 40px;
    padding:0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #00cc99;
}
.search .btngroup > a.btn {
    float: left;
    padding: 9px 10px;
    font-size: 15px;
    color: #fff;
    border-radius: 0px;
}
.search .btngroup > a.btn:hover{
    color: #fff;
    outline: 0;
    text-decoration: none;
    background-image: none; 
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.search .btngroup > a.btn:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .125);
}
.search .btngroup > a.arrow {
    float: left;
    width: auto;
    height: 30px;
    margin: 5px 0px;
    padding: 5px 10px;
    border-left: 1px solid #ccc;
    background-color: transparent;
}

.search .btngroup > a.arrow > i {
    font-size: 20px;
    color: #fff;
}
.collapse .search-frame {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.collapse .search-frame .frame {
    padding: 5px 0 !important;
}
.collapse .search-frame .form-group {
    margin: 0;
}
/***************************************详情************************************/
.frame {
    padding: 0 !important;
    display: inline-block
}

.frame.left {
    float: left;
    padding-right: 15px;
}

.frame.right {
    float: right;
    padding-left: 15px;
}

.frame .title {
    padding: 10px 15px;
    color: #fff;
    text-align: left;
    line-height: 20px;
    background-color: #999;
}

.frame .title.prompt {
    padding: 7px;
    margin-bottom: 15px;
    color: #666;
    background-color: #f2f2f2;
}

.frame .title > i {
    float: left; 
    margin: 3px 5px 0 0;
}

.frame .title > span {
    display: block;
    float: left;
}

.frame .title > .btngroup {
    position: absolute;
    top: 5px;
    right: 15px;
}

/*.frame .table {
    padding: 0;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px #ddd solid;
}*/

.frame .table.right {
    min-height: 268px;
    border: 1px #ddd solid;
    overflow-y: auto;
}

.frame .table.right > .actlog {
    max-height: 555px;
    overflow-y: auto;
    padding-bottom: 15px;
}

/**
 * 状态阶段
 */
.phase{
    float: left;
    width: 60px;
    padding: 11px 0;
    border-radius: 5px;
    text-align: center;
}
/**
 * 状态阶段文字
 */
.phase .words {
    margin-bottom: 0px; 
    font-size: 14px;
    color: #fff;
}
/**
 * 状态阶段进度
 */
.phase .percent {
    margin-bottom: 0px; 
    font-size: 12px;
    color: #fff;
}
/**
 * 状态阶段箭头
 */
.arrow {
    float: left;
    width: 50px;
    padding: 10px 5px 10px 2px
}
/**
 * 状态阶段箭头大小
 */
.arrow > i {
    font-size: 37px;
}
/**
 * 状态已选阶段
 */
.has-to{
    background-color: #f37b53;
}

/**
 * 状态已选阶段【特殊情况下的样式】
 */
.has-to.danger{
    background-color: #d9534f
}
/**
 * 状态未选阶段
 */
.not-to {
    background-color: #dddddd;
}

/*************************************首页 default-index**********************************/
.need-default-index .head-top {
    width: 100%;
    height: 229px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px rgba(51, 48, 48, 0.14);
}

.need-default-index .head-top img{
    width: 100%;
}

.need-default-index .content .content-title {
    width: 100%;
    line-height: 58px;
    height: 60px;
    color: #969696;
}

.need-default-index .content .need-cost {
    width: 100%;
    margin-bottom: 50px;
}

.need-default-index .content .need-cost .need-cost-title {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #969696;
    background-color: #f2f2f2;
}

.need-default-index .content .need-cost .need-cost-title span {
    color: #cccccc;
}

.need-default-index .content .need-cost .need-cost-content {
    
}

.need-default-index .content .need-cost .need-cost-content .user-need {
    width: 96px;
    height: 137px;
    margin-right: 3px;
    margin-bottom: 10px;
    display: inline-block;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 0px;
}

.need-default-index .content .need-cost .need-cost-content .user-need .user-avatar {
    height: 70px;
    text-align: center;
}

.need-default-index .content .need-cost .need-cost-content .user-need .user-avatar img {
    width: 64px;
    height: 64px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #f2f2f2;
}

.need-default-index .content .need-cost .need-cost-content .user-need .user-name {
    height: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #969696;
}

.need-default-index .content .need-cost .need-cost-content .user-need .user-cost {
    height: 25px;
    line-height: 25px;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    color: #969696;
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
}

/*************************************统计 statistics**********************************/
/*****************统计-成本 cost*****************/
.statistics {
    padding-top: 10px;
    border-top: 1px #f3f3f3 solid;
}

.statistics .form-group .filter {
    padding-left: 5px;
    padding-right: 5px;
}

.statistics .form-group .filter  .filter-title{
    width: 86px;
}

.statistics .form-group .radiolist{
    padding-top: 5px;
}

.statistics .form-group .radiolist label{
    margin-right: 30px;
    color: #333333;
    font-weight: 400;
}

.statistics .summar-title i{
    color: #cccccc;
}

.statistics .summar-title span{
    font-weight: bold;
}

.statistics .table > thead:first-child > tr:first-child > th {
    text-align: center;
    font-weight: 700;
    background-color: #f2f2f2;
    color: #666666;
}

.statistics .table-bordered > tbody > tr > td {
    text-align: center;
    background-color: #ffffff;
    color: #666666;
}

.table .viewdetail-th {
    color: #666666;
    width: 10%;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
    vertical-align: middle;
}
@media (max-width: 480px){
    .table .viewdetail-th {
        width: 25%;

    }
}
.table .viewdetail-th-head {
    color: #000000;
    text-align: left;
    font-weight: bold;
}
.table .viewdetail-td {
    min-width: 100px;
    vertical-align: middle;
}

/***********************************内容首页************************************/
.table-content {
    margin: -10px 0 5px !important
}
.table-content td {
    vertical-align: middle !important;
}
.table-content td > input {
    width: 60px;
    text-align: center;
}
.total-cost {
    font-size: 14px;
    text-align: right;
}

/***********************************内容表单************************************/
.table-frame {
    width: 100%;
}
.table-frame .rows,
.table-frame .cols {
    background-color: #f9f9f9;
}
.table-frame th {
    text-align: center;
}
.table-frame td {
    text-align: center;
}

.table-frame td > input {
    float: left;
    text-align: center;
}

.table-frame td > span {
    float: right;
    font-size: 13px;
}

/***********************************内容详情************************************/
.table-view td {
    color: #999;
}

.table-view td > span {
    float: none;
}

.frame > div.tip {
    margin: -20px 0 20px;
}

.frame > div.tip > span {
    margin-right: 20px;
}

.frame > div.tip > span > i {
    margin-right: 5px;
    font-style: normal;
}
/**************************************最近联系*****************************************/
.recent {
    display: inline-block; 
    width:60px;
    height:60px;
    margin: 0 0 5px;
    font-size: 12px;
    text-align: center;
    border: 1px #ccc solid;
    background-color:#fff;
}

.recent:hover {
    cursor:pointer;
}

.recent.active {
    border-color: #666;
    background-color:#ddd;
}
