/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-6-28, 14:13:55
    Author     : Kiwi°
*/

.worksystem .table .viewdetail-th
{
    color: #666666;
    width: 23%;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
    vertical-align: middle;
}
.worksystem .table .viewdetail-td
{
    min-width: 100px;
    vertical-align: middle;
}
.worksystem .table .viewdetail-th-head
{
    color: #000000;
    text-align: left;
    font-weight: bold;
}
.worksystem .phase{
    width: 60px;
    height: 60px;
    float: left;
    padding-top: 10px;
    border-radius: 5px;
    text-align: center;
}
.worksystem .phase-words{
    margin-bottom: 0px; 
    color: #fff;
    line-height: 35px;
}
.worksystem .arrow{
    width: 32px;
    height: 16px;
    float: left;
    margin: 20px 0px;
    margin-right: 5px;
}
.worksystem .have-to{
    background-color: #f37b53;
}
.worksystem .not-to {
    background-color: #dddddd;
}

