/* 
    模块的样式
    例如：.default-index .样式名 {
            样式...
        }
*/

body .wrap > .container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.scene-book .table {
    border: 1px solid #ddd;
}

.scene-book
.table > tbody > tr > td {
    border-bottom: 1px solid #ddd;
}

.scene-book .date,
.scene-book .time_index {
    border: 1px solid #ddd;
    background-color: rgb(121, 121, 121);
}

.scene-book .date {
    padding: 4px;
    color: #fff;
    font-weight: 700;
    vertical-align: middle;
}

.scene-book .time_index {
    padding: 4px 2px;
    color: #fff;
    vertical-align: middle;
}

.scene-book .camera_count {
    position: relative;
    top: -4px;
    left: 5px;
    font-size: 12px;
}

.scene-book .content_type {
    width: 30px;
    padding: 2px;
    display: block;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(243, 123, 83, 1);
}

.scene-book .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.scene-book .table-striped > tbody > tr:nth-of-type(6n+1),
.scene-book .table-striped > tbody > tr:nth-of-type(6n+2),
.scene-book .table-striped > tbody > tr:nth-of-type(6n+3) {
    background-color: #f9f9f9;
}
