/* 
    模块的样式
    例如：.default-index .样式名 {
            样式...
        }
*/

body .wrap > .container {
    width: 100%;
    margin: 0;
    padding: 0;
}
/*********************************scene-default-index***************************/
.scene-default-index {
    /*margin-bottom: 35px;*/
}

.scene-default-index .map,.select{
    margin-top: 7px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.scene-default-index
.map .map-content{
    height: 845px;
    margin-top: 3px;
    background-color: #f0f0f0;
}

.scene-default-index
.select .select-content{
    height: 100%;
    margin-top: 3px;
}

/*********************************内容部分（面包屑）*****************************/
.scene-default-index .select .crumb {
    width: 100%;
    display: inline-block;
}

.scene-default-index .select .crumb-nav {
    list-style: none;
    padding: 0px;
}

.scene-default-index .select .crumb ul li {
    height: 22px;
    float: left;
    display: block;
}

.scene-default-index .select .crumb ul li>.arrow {
    float: left;
    margin: 0px 5px;
}

.scene-default-index .select .crumb ul li>a {
    color: #666666;
    padding: 0px 4px;
    float: left;
    display: block;
    border: 1px solid #ddd;
    line-height: 18px;
    text-decoration: none;
}

.scene-default-index .select .crumb ul li a > em, 
.scene-default-index .select .crumb ul li a > i {
    margin-left: 5px;
    font-style: normal;
}
/*********************************内容部分（属性）*******************************/
.scene-default-index .select .select-choice {
    width: 100%;
    display: inline-block;
}

.scene-default-index .select .select-choice .attr-nav {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    font-size: 14px;
    color: #666666;
    display: inline-block;
}

.scene-default-index .select .select-choice .attr-nav>li {
    width: 100%;
    height: 16px;
    line-height: 16px;
    margin-bottom: 10px;
    display: inline-block;
}

.scene-default-index .select .select-choice .attr-key {
    width: 22%;
    float: left;
    display: inline-block;
    text-align: right;
}

.scene-default-index .select .select-choice .attr-value {
    width: 78%;
    display: inline-block;
    text-align: left;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.scene-default-index .select .select-choice .attr-value>li {
    float: left;
    margin: 0 10px;
    display: inline-block;
}

.scene-default-index .select .select-choice .attr-value>li a {
    color: #333333
}

.scene-default-index .select-content .address{
    margin-bottom: 10px;
    border: solid #cccccc 1px; 
} 

.scene-default-index .select-content .address-name{
    line-height: 30px;
}

.scene-default-index
.select-content .address .address-top{
    height: 40px;
    padding: 5px;
}

.scene-default-index .address .address-img, .address-right{
    display: inline-block;
    height: 98px;
    margin: 5px 5px 10px 5px;
}

.scene-default-index
.select-content .address .address-img img{
    width: 98px;
    height: 98px;
} 

.scene-default-index
.select-content .address .address-right{
    /*width: 72%;*/
    position: absolute;
} 

.scene-default-index .address-right .bg-color{
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}

.scene-default-index .address-right .add-red{
    background-color: #ff3333;
    border-color: #d43f3a;
}

.scene-default-index .address-right .add-blue{
    background-color: #6699ff;
    border-color: #46b8da;
}

.scene-default-index
.address-right .address-area,.address-type,.address-price{
    padding: 2px 0px;
    color: #999999;
    font-weight: bold;
}

.scene-default-index
.address-right .address-area span,.address-type span,.address-price span{
    color: #000;
    font-weight: bold;
}

.scene-default-index
.address-right .address-area .font{
    width: 200px;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*********************************scene-default-view***************************/
.scene-default-view{
    margin-top: 7px;
}

.scene-default-view
.introduce{
    width: 100%;

}

.scene-default-view
.introduce .scene-img{
    padding-right: 0px;
    padding-left: 0px;
}

.scene-default-view
.introduce .scene-img img{
    width: 100%;
    padding: 5px;
    border: #cccccc 1px solid;  
}

.scene-default-view
.introduce .scene-info{
    padding-left: 0px;
    /*border: #cccccc 1px solid;*/
}

.scene-default-view
.introduce .scene-info .info-content{
    padding-left: 20px;
    /*border: #cccccc 1px solid;*/
}

.scene-default-view
.introduce .scene-info .scene-name{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: bold;
}

.scene-default-view
.introduce .scene-info .scene-nature,.scene-area,.scene-type,.scene-price,
.scene-num,.scene-contact,.scene-address,.scene-des{
    color: #000;
    font-weight: normal;
    font-size: 14px;
    padding: 2px 0px;
    margin-bottom: 10px;
}

.scene-default-view
.introduce .scene-info .info-content span{
    min-width: 70px;
    color: #999999;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
}

.scene-default-view
.introduce .scene-info .scene-nature .bg-color{
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
}

.scene-default-view
.introduce .scene-info .scene-nature .add-red{
    background-color: #ff3333;
    border-color: #d43f3a;
}

.scene-default-view
.introduce .scene-info .scene-nature .add-blue{
    background-color: #6699ff;
    border-color: #46b8da;
}

.scene-default-view .scene-details {
    height: 100%;
}

.scene-default-view .scene-details .tablist {
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    background-color: #f0f0f0; 
}

.scene-default-view .scene-details .tablist ul {
    margin-bottom: 0;
    padding-left: 0;
}

.scene-default-view .scene-details .tablist ul li {
    width: 110px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    border-right: 1px #cbcbcb solid;
}

.scene-default-view .scene-details .tablist ul li.none {
    border-right: none;
}

.scene-default-view .scene-details .tablist ul li a {
    height: 48px;
    display: block;
    color: #666666;
    text-decoration: none;
}

.scene-default-view .scene-details .tablist ul li a>i {
    width: 34px;
    height: 48px;
    float: left;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

.scene-default-view .scene-details .tablist ul li a>em {
    font-size: 18px;
    font-style: normal;
}

.scene-default-view .scene-details .tablist ul li.active>a,
.scene-default-view .scene-details .tablist ul li>a:hover {
    color: #1b80d5;
    border-bottom: 2px #1b80d5 solid;
}

.scene-default-view .scene-details .tabcontent {
    width: 100%;
}

.scene-default-view .scene-details .tabcontent .tabpane .resource{
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari 和 Chrome */
    column-count:2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}

.scene-default-view .scene-details .tabcontent .tabpane .resource img{
    padding: 2px;
    break-inside: avoid;
    border: 1px solid #ccc;
}

.scene-default-view .scene-details .tabcontent .tabpane {
    margin: 15px 0;
    display: none;
    opacity: 0;
}

.scene-default-view .scene-details .tabcontent .tabpane.show {
    display: block;
    opacity: 1;
}

.scene-default-view .scene-details .tabcontent .tabpane .allmap{
    width: 100%;
    height: 800px;
}
/**地图中的信息检索框样式**/
.scene-default-view .scene-details .tabcontent .tabpane .allmap td{
    padding-left: 4px !important;
}

/*********************************scene-book***************************/
.scene-book .table {
    border: 1px solid #ddd;
}

.scene-book
.table > tbody > tr > td {
    border-bottom: 1px solid #ddd;
}

.scene-book .date,
.scene-book .time_index {
    border: 1px solid #ddd;
    background-color: rgb(121, 121, 121);
}

.scene-book .date {
    padding: 4px;
    color: #fff;
    font-weight: 700;
    vertical-align: middle;
}

.scene-book .time_index {
    padding: 4px 2px;
    color: #fff;
    vertical-align: middle;
}

.scene-book .camera_count {
    position: relative;
    top: -4px;
    left: 5px;
    font-size: 12px;
}

.scene-book .content_type {
    width: 30px;
    padding: 2px;
    display: block;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(243, 123, 83, 1);
}

.scene-book .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.scene-book .table-striped > tbody > tr:nth-of-type(6n+1),
.scene-book .table-striped > tbody > tr:nth-of-type(6n+2),
.scene-book .table-striped > tbody > tr:nth-of-type(6n+3) {
    background-color: #f9f9f9;
}
