/************************************首页样式***********************************/
body .wrap > .container{
   width: 100%;
   padding: 50px 0px 0px;
}

.mconline .CHS {
    margin-bottom: -15px;
    display: block;
}

.mconline .EN {
    margin-top: -15px;
    display: block;
    opacity: 0.5
}

.site-index .mconline .platform {
    width: 100%;
    padding: 60px 0px;
    text-align: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 0;
}

.mconline .platform .CHS {
    font-size: 30px;
    color: #58646b;
}

.mconline .platform .EN {
    font-size: 12px;
    color: #65727a;
}

.mconline .menu {
    width: 100%;
    font-size: 0px;
}

.mconline .menu .modules {
    margin-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
    display: inline-block;
}

.mconline .menu .classroom {
    height: 105px;
    padding: 20px 0;
    font-size: 0px;
}

.mconline .menu .line-y {
    width: 2px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 20px 0;
    background-color: #a9b4bb;
}

.mconline .menu .modules .icon {
    width: 67px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.mconline .menu .modules .name {
    height: 60px;
    margin: 10px 30px;
    display: inline-block;
}

.mconline .menu .modules .CHS {
    font-size: 25px;
    color: #65727a;
}

.mconline .menu .modules .EN {
    font-size: 14px;
    color: #a9b4bb;
}

/************************************登录页样式*********************************/
.site-login .mconline {
    width: 100%;
    width: 100%;
    min-height: 567px;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #ebebeb;
}

.site-login .mconline .platform {
    width: 100%;
    position: relative;
    top: 120px;
    font-size: 0px;
}

.site-login .mconline .platform .name {
    height: auto;
    text-align: center;
    position: relative;
}

.site-login .mconline .platform .CHS {
    font-size: 30px;
    color: #58646b;
}

.site-login .mconline .platform .EN {
    font-size: 15px;
    color: #65727a;
}

.site-login .mconline .platform .frame {
    width: 100%;
    position: relative;
    font-size: 14px;
}

.site-login .mconline .platform .frame .attribute{
     margin-top: 21px;
     padding-left: 10px !important;
     padding-right: 10px !important;
}

.site-login .mconline .platform .frame .icon {
    width:40px !important;
    padding:0px !important;
    top: 0;
    left: 7px;
    z-index: 100
}

.site-login .mconline .platform .frame .button {
    margin-top: 55px;
    margin-left: 35px;
    margin-right: 35px;
}